@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
  padding: 0px;
  margin: 0px;
  overflow: auto ;
  /* background-color: darkcyan; */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:black;
  font-family: 'Poppins', sans-serif;

}
.html{
  padding: 0px;
  margin: 0px;
  overflow: auto ;
  
}
.App{
  
  display: flex;
  height:max-content;
  overflow: auto ;
  min-height: 100vh;
}
.left-menu{
  width: 15%;
  padding: 10px;


  background-color: red;
  display: block;
}
.main{
  width: 85%;
}
.menu-item{
  width: 100%;
  
  font-size: 20px;
  padding: 10px;
  /* cursor: pointer; */
  
}
.menu-item a{
  text-decoration: none;
}
.menu-item-icon{
  float: right;
}

/* profile page --------------------------------------------------*/
.profile-page{
  padding: 20px;
}
.profile-notlogin-container{
  display: flex;
  flex-grow: 1;
}
.profile-notlogin{
  flex-grow: 1;
}
.profile-logined-container{
  display: flex;
 
}
.profile-logined{
  flex-grow: 1;
}

/* reading page --------------------------------------------------*/
.readings-container{
  display: flex;
  cursor: pointer;
}

.readings-books{
  width: 20%;
  background-color: antiquewhite;
  min-height: 100vh;
}
.readings-contents{
  white-space: pre-line; 
  padding: 20px;
  width: 80%;
}
.readings-item{
  padding: 10px;
  padding-bottom: 18px;
  padding-top: 18px;
  background-color: antiquewhite;
  font-size: 1.2em;
  text-align: center;
}
.readings-item:hover{
  background-color:aliceblue ;
}

/*listening page --------------------------------------------------*/
.listening-container{
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.listening-item{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.listening-item-caption{
  white-space: pre-line; 
  width: 30%;
  text-align: center;
  padding: 20px;
  color:red;
  font-size: 20px;
}

.listening-item-tracker{
  width: 70%;
}


.flex-float-right{
  flex-grow: 1;
  align-self: flex-end;
}